@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300&display=swap');

.container {
    background-color: #f8fafc;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .heading {
    color: #1e3a8a;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .paragraph {
    color: #6b7280;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  